{% extends 'blog/base.html' %}

{% block title %}Writing | {{ config.name }}{% endblock %}

{% block content %}
<div class="blog-list-header">
    <h1>Writing</h1>
    <p>Notes on software, tools, and building things.</p>
</div>

{% if posts %}
<ul class="post-list">
    {% for post in posts %}
    <li>
        <a class="post-link" href="{{ blog_index_href }}{{ post.slug }}/">
            <time>{{ post.date_display }}</time>
            <span class="post-title">{{ post.title }}</span>
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p class="blog-empty">No posts yet. Check back soon.</p>
{% endif %}
{% endblock %}
